  .loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 2.5rem);

    .welcomeLogin {
      width: 42rem;
      font-size: 3.8rem;
      line-height: 4.8rem;
      margin-bottom: 3.2rem;
    }

    .convinientLogin {
      ul {
        display: flex;
        flex-direction: column;
        gap: 14px;
        li {
          width: 42rem;
          padding: 20px 0;
          text-align: center;
          border-radius: 44px;
          position: relative;
    
          a {
            display: inline-block;
            width: 100%;
            text-align: center;
    
            &::before {
              content: "";
              position: absolute;
              left: 21px;
              top: 50%;
              transform: translateY(-50%);
              width: 3.2rem;
              height: 3.2rem;
              background: no-repeat center;
            }
          }
        }
    
        .kakaoLogin {
          background-color: #fae100;
          a::before {
            background-image: url("./kakaoLogo.svg");
          }
        }
    
        .googleLogin {
          background-color: #fff;
          box-shadow: 0 0 0 1px var(--black) inset;
          a::before {
            background-image: url("./googleLogo.svg");
          }
        }
    
        .naverLogin {
          background-color: #03c75a;
          a::before {
            background-image: url("./naverLogo.svg");
          }
        }
      }
    }

    .emailLoginAndSignUp {
      margin-top: 26px;
      ul {
        li {
          display: inline-block;
          position: relative;

          &:first-child a {
            &::after {
              content: '|';
              display: inline-block;
              margin: 0 12px;
            }
          }
        }
      }
    }
  }