.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 2.5rem);
}

.convinientLogin {
  ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
    li {
      width: 420px;
      padding: 20px 0;
      text-align: center;
      border-radius: 44px;
    }
    .kakaoLogin {
      background-color: #fae100;
    }
    .googleLogin {
      background-color: #fff;
      box-shadow: 0 0 0 1px var(--black) inset;
    }
    .naverLogin {
      background-color: #03c75a;
    }
  }
}
