header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
  background-color: antiquewhite;

  .categories ul { /*카테고리 ui*/
    display: flex;
    gap: 36px;
    margin-left: -15vw;
    // margin-left: clamp(-400px, -30vw, -200px);
    li {
      text-decoration: none;
      font-weight: 500;
      // font-size: 1.2rem;
      line-height: 19px;
    }
  }

  .user { /*시용자 ui*/
    ul {
      display: flex;
      gap: 26px;

      li {
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;

        a {
          position: relative;
          padding-left: 29px;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 23px;
            height: 23px;
            background: no-repeat center;
          }
        }
        a[href="/profile"]:before {
          background-image: url("./icon-user.svg");
        }
        a[href="/login"]:before {
          background-image: url("./icon-lock.svg");
        }
      }
    }
  }
}
